/* $Id: SteelBlue.css,v 1.4 2005/03/01 04:58:47 allan Exp $ */

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-decoration: none;
    color: #000000
}

.boldText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-weight: bold;
    text-decoration: none;
    color: #000000
}

a:hover {
    text-decoration: underline;
}

.header1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-weight: bold;
    color: #003399
}

.header1Bg {
    background-image: url(images/tableheader-bg.gif)
}

.header2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-weight: bold;
    color: #000066
}

.header2Bg {
    background-color: #DAE6FA;
}

.header3 {
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 80%;
    font-weight: bold;
    color: #336666
}

.rowOdd {
    background-color: #F5F5F5
}

.rowEven {
    background-color: #EDEDED
}

.rowOddSelected {
    background-color: #CCDAE3
}

.rowEvenSelected {
    background-color: #DFE8EE
}

.button {
    BORDER-RIGHT: #5388DE 1px solid;
    BORDER-TOP: #B2BFD8 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #C2D5F7;
    BORDER-LEFT: #B2BFD8 1px solid;
    COLOR: #01155A;
    BORDER-BOTTOM: #5388DE 1px solid;
    HEIGHT: 20px;
    color: #000000;
    TEXT-DECORATION: none
}

.buttonDisabled {
    BORDER-RIGHT: #4E638B 1px solid;
    BORDER-TOP: #E7EFFF 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND-COLOR: #DFE1E6;
    BORDER-LEFT: #E7EFFF 1px solid;
    BORDER-BOTTOM: #4E638B 1px solid;
    HEIGHT: 20px;
    TEXT-DECORATION: none
}

/* font style for showing response messages */
.responseText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-weight: bold;
    text-decoration: none;
    color: #006600;
}

.highlite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #F26100;
    font-weight: bold;
}

.errorText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
}

.errorTextSmall {
    FONT-SIZE: 70%;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

/* bg style for the table containing the higher level tabs */
.tabsBg {
    background-image: url(images/tabsBg.gif);
    margin: 0px;
    padding: 0px;
}

/* higher level tab style */
.tabSelectedBeg {
	background-image:  url(images/t_selectedbeg.gif);

}

.tabSelectedEnd {
	background-image:  url(images/t_selectedend.gif);

}

.tabUnselectedBeg {
    background-image:  url(images/unselectedBeg.gif);
}

.tabUnselectedEnd {
    background-image:  url(images/t_unselectedend.gif);
}

.tabUnselectedBg {
    background-image: url(images/t_unselectedbg.gif);
    margin: 0px;
    padding: 0px;
}

.tabSelectedBg {
	background-image: url(images/t_selectedbg.gif);
	margin: 0px;
	padding: 0px;
	background-color: #5388DE;

}

.calendarBg {
    background-color: #FFFFFF;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding:0px;
}

.tracer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #0000FF;
    font-weight: normal;
    font-style: normal;
}

.formStyle {
    border: 1px #7B94CE solid;
    font-size: 12px;
    background-color: #FCFCFC;
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;
}

.formStylePlain {
    border: 1px #FFFFFF solid;
    font-size: 12px;
    background-color: #FCFCFC;
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;
}

.formStyleTable {
    border: 1px #ebebeb solid;
    font-size: 12px;
    background-color: #ebebeb;
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;
}

.formStyleMib {
    border: 1px #B2BED6 solid;
    font-size: 12px;
    background-color: #FCFCFC;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
}

.formStyleDisabled {
    border: 1px #B2BED6 solid;
    font-size: 12px;
    background-color: #E8E8E6;
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;

}

/* style used for the red star in forms */
.mandatory {
    font-weight: bold;
    text-decoration: none;
    color: #FF0000
}

/*------------------------ Property sheets ---------------- */

TABLE.botBorder TD {border-bottom:1px solid #DAE6FA}

TABLE.NobotBorder TD {border-bottom:thin none}

.popupBg {
    background-color: #F0F5FF;
    margin: 0px;
    padding: 0px;
}

.propertyLeftBg {
    background-color: #F0F4FD
}

.propertyTabLeftbg {
    background-color: #FFFFFF
}

.seperator {
    background-color: #DBE2FB
}

.propertyTabSelected {
    background-color: #B6CAFA;
}

.propertyHeader {
    background-color: #FFFFFF
}

.propertyBg {
    background-color: #F0F5FF
}

.fontBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #0A3FA0;
	padding-left: 4px;
}

.headgGrad {
	background-image: url(images/heading.gif);
	background-repeat: repeat;
	background-position: right top;
	height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px 4px 4px 5px;
}

.dbborder1 {
	border: 1px solid #847CBB;
}

/*------------------------ acc panel styles ---------------- */
.accRed {
    background-color: #FF5151;
}

.accSandal {
    background-color: #ffc800;
}

.accYellow {
    background-color: #ffff00;
}

.accBlue {
    background-color: #00ffff;
}

.accGreen {
    background-color: #33ff33;
}

.accBg {
    background-color: #FFFFFF;
}

.accGrey {
    background-color: #CEE7FF;
}

.accHeaderBg {
    background-color: #BBDDFF;
}

/* --- Border around the map images --- */
.symbolBg {
    background-color: #DCE7F5;
}

.symbolBorder {
    background-color: #5C8FD4;
}
.mapbg {
    background-attachment: fixed;
    background-image: url(images/mapbg.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #E0E3EE;
    margin: 0px;
    padding: 0px;}

.calendarText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-decoration: none;
    color: #000000
}

.calendarCombo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px; text-decoration: none;
    color: #000000
}

.calTopBorderBg {
    background-image:  url(images/calTopBorder.gif);
}

.calLeftBorderBg {
    background-image:  url(images/calLeftBorder.gif);
}

.calMonthYrBg {
    background-color: #7C96C9;
}

.calInBorderBg {
    background-image:  url(images/calInBorder.gif);
}

.calInBorderBg1 {
    background-image:  url(images/calInBorder1.gif);
}

.calDateBg {
    background-color: #E1F3FD;
}

.calMonthBg {
    background-color: #A2B8E4;
}

.calDayBg {
    background-color: #BEC9DF;
}

.calInBorderBg3 {
    background-image:  url(images/calInBorder3.gif);
}

.calRightBorderBg {
    background-image:  url(images/calRightBorder.gif);
}

.calGreenBg {
    background-color: #64779B;
}

.calPreBtmLeftBg {
    background-image:  url(images/calPreBtmLeft.gif);
}

.calPreBtmRightBg {
    background-image:  url(images/calPreBtmRight.gif);
}

.calBtmLeftBg {
    background-image:  url(images/calBtmLeft.gif);
}

.calBtmRightBg {
    background-image:  url(images/calBtmRight.gif);
}

.calBtmBg {
    background-image:  url(images/calBtm.gif);
}

.calSelected {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-decoration: none;
    background-color: #A2B8E4;
    font-weight: bold;
    color: #000000
}

.whiteText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	text-decoration: none;
	color: #FFFFFF;
}

.entriesSelect {
    border: 1px #B2BED6 solid;
    font-size: 10px;
    background-color: #FFFFFF;
    font-family:  Verdana, Arial, Helvetica, sans-serif;
}

.tableBorder {
	margin: 1px;
	padding: 1px;
	border: 1px solid #E1E9F9;

}
.comboStyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #C5D5F5;
	border: thin solid #3399FF;

}

.pagenavBg {
        background-image: url(images/pagenavBg.gif);
}

.opBg {
       background-color: #ECEDF0;
}

.homeheadBg {
    background-color: #7B8FB4;
}

.loginBoxBg {
    background-color: #F9FAFC;
}

.addleftbg {
    background-color: #E8ECF7;
}

.SnmpHeadBg {
    background-color: #8193B1;
}

.SnmpBodyBg {
    background-image:  url(images/snmpgrad.gif);
    background-repeat: repeat-x;
}

.snmpTableBg {
    background-color: #C5CDDC
}
.hline {

    background-color: #336699;
}
.formStyleSmall {

    border: 1px solid #7B94CE;
    font-size: 12px;
    background-color: #FCFCFC;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.formStyleSmallDisabled {

    border: 1px #B2BED6 solid;
    font-size: 12px;
    background-color: #E8E8E6;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.detailsHeaderBg {
	background-color: #91C9E3;

}
.treeText {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-decoration: none;
    color: #000000
}

.treeSelected {
    background-color: #CDE3F4;
}

.topStrip {

    background-color: #3280FF;

}
.treeHeader {

    background-color: #8FC1E6;
    margin: 0px;
    padding: 0px;
}
.treeBg {

    background-color: #EAF4FE;

}
.gradHeaderBg {
    background-color: #8FC1E6;
    background-image: url(images/gradHeader.gif);
    background-repeat: no-repeat;
}

.treeTableBorder {
    margin: 0px;
    padding: 0px;
    border: 0px solid #8FC1E6;
}

.textSmall {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 66%;
    text-decoration: none;
    color: #003399
}

.textSmallUnderBlue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    text-decoration: underline;
    color: blue;
}

.bgNone {
    background-color: #FFFFFF;
    background-image: url(images/bgNone.gif);
    margin: 0px;
    padding: 0px;
}

.greyBg {
    background-color: #F1F4FB
}

.whiteBg {
    background-color: #FFFFFF
}

.whiteTextSmall {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    text-decoration: none;
    color: #FFFFFF
}

.greyText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-decoration: none;
    color: #DCDBDB
}

TABLE.rowBorder TD {
    border-bottom: 1px solid #E6E2E2;
}


.tableBorder {
	margin: 1px;
	padding: 1px;
	border: 1px solid #C6DBFF;
}

.tabTextSel {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF
}
.tabTextUnsel {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    text-decoration: none;
    color: #000000
}

.logFormStyle {


    border: 1px solid #7B94CE;
    font-size: 12px;
    background-color: #FCFCFC;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.logFormStyleDisabled {


    border: 1px #B2BED6 solid;
    font-size: 12px;
    background-color: #E8E8E6;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.mapPropFormStyle {
    border: 1px solid #7B94CE;
    font-size: 12px;
    background-color: #FCFCFC;
    width: 220px;
    font-family: Arial, Helvetica, sans-serif;
}

.accHeader {
    font-family: Verdana,Arial, Helvetica, sans-serif;
    font-size: 95%;
    font-weight: bold;
    text-decoration: none;
    color: #000000
}
.sline{
    background-color: #E2E3E4;
}

.progressMsgTable{
	background-color: #D0D0D0;
	border: 1px solid #F1F1F1;
	width: 150px;
	height: 60px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}


